# Explorando - Visualización de datos

## Indicadores de Desarrollo Mundial

In [2]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('wdi/Indicators.csv')
data.shape

(5656458, 6)

In [4]:
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [5]:
filter = data['CountryName'] == 'Spain'
data[filter].head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
19522,Spain,ESP,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,10.056400
19523,Spain,ESP,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,55.132352
19524,Spain,ESP,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,12.695256
19525,Spain,ESP,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,42.437095
19526,Spain,ESP,Alternative and nuclear energy (% of total ene...,EG.USE.COMM.CL.ZS,1960,8.314033

### ¿Cuántos países hay?

In [7]:
countries = data['CountryName'].unique().tolist()
print(f'Total países: {len(countries)}')

Total paises: 247

### ¿cuántos códigos de países hay?

In [8]:
countryCodes = data['CountryCode'].unique().tolist()
print(f'Total códigos de países: {len(countries)}')

Total códigos de países: 247

### ¿Cuántos indicadores hay?

In [9]:
indicators = data['IndicatorName'].unique().tolist()
print(f'Total indicadores: {len(indicators)}')

Total indicadores: 1344

### ¿De cuántos años tenemos información?

In [10]:
years = data['Year'].unique().tolist()
print(f'Total años: {len(years)}')

Total años: 56

### ¿Cuál es el rango temporal?

In [12]:
print(f'Rango tremporal desde {min(years)} a {max(years)}.')

Rango tremporal desde 1960 a 2015.